.header
  .content-wrapper
    .header_market
      p K-Market Aurinkolahti
      span.icon.arrow.ml
    .header_name
      span.icon.mr
      p Mikko Korhola
    .header_phone
      span.icon.mr
      p 09 425 77 810
    .header_email
      span.icon.mr
      p myynti@americansoda.fi
    .header_user-name
      p Alex Doe
      span.icon.arrow.ml
  .header_drop(style="display: none;")
    .content-wrapper
      .header_drop-item
        p 
          | K-Market Aurinkolahti
          span 990, Leikosaarentie 48
      .header_drop-item
        p 
          | K-Market Rastila
          span 990, 980, Retkeilijänkatu 3
        a.logout.icon.ml(href="javascript:void(0)")
