head
  title American Soda
  
  meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" charset="utf-8")
  meta(name="msapplication-TileColor" content="#4048EF")
  meta(name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png")
  meta(name="theme-color" content="#4048EF")

  link(href="https://fonts.googleapis.com/css?family=Montserrat:500,700", rel="stylesheet")
