@mixin button($button-size, $button-bg) {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  position: relative;
  border: none;
  cursor: pointer;
  clear: both;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.8px;

  @include transition(0.25s all ease-in);
  @include border-radius(25px);

  @if $button-size == "big" {
    font-size: 15px;
    height: 60px;
    line-height: 60px;
    font-weight: 900;
    font-size: 16px;
  }

  @if $button-size == "medium" {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
  }

  @if $button-size == "small" {
    font-size: 13px;
    height: 44px;
    line-height: 40px;
  }

  // button bg

  @if $button-bg == "rose" {
    background-image: -webkit-linear-gradient(
      312deg,
      #e83f94,
      #f54e5e,
      #f54e5e,
      #e83f94
    );
    background-image: -o-linear-gradient(
      312deg,
      #e83f94,
      #f54e5e,
      #f54e5e,
      #e83f94
    );
    background-image: linear-gradient(
      42deg,
      #e83f94,
      #f54e5e,
      #f54e5e,
      #e83f94
    );

    background-size: 400%;
    background-position: 0 0;

    &:hover,
    &:active {
      background-position: 100% 0;
    }
  }
}
