.authorization-page {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;

  background-image: -webkit-linear-gradient(
    bottom left,
    #4048ef 0%,
    #5a7bef 100%
  );
  background-image: -o-linear-gradient(bottom left, #4048ef 0%, #5a7bef 100%);
  background-image: linear-gradient(to top right, #4048ef 0%, #5a7bef 100%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
  }

  .authorization-page_content {
    width: 100%;
  }

  .logo {
    margin-bottom: 64px;
  }

  label {
    display: block;
    color: #fff;
  }

  .button {
    display: block;
    margin: auto;
    width: 128px;
  }

  input {
    margin: 24px 0;
    width: 248px;
  }

  .email-error {
    max-width: 508px;
    line-height: 1.5em;
    margin: 0 auto 40px;
  }
}

.info-line {
  position: absolute;
  bottom: 40px;
  width: 100%;
  display: block;

  span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 6px 0 4px;
  }
}
