input,
textarea {
  background: none;
  background-color: #fff;
  outline: none;
  color: #242A6D;
  font-size: 16px;
  border: none;

  @include border-radius(4px);

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: #8C8FAD;
  }
}

input {
  height: 35px;
  line-height: 35px;
  padding: 0 10px 0 16px;
}
