.browser-alert
  .content-wrapper
    p 
      span.icon.mr
      | You are using an unsupported browser. Some features may not be available. For the best experience, use modern browser.
    span.close.icon
