.section.section__offers
  .content-wrapper
    .offers-content
      -for (i = 0; i <= 2; i++)
        .offers-item
          .image(style="background-image: url('img/offers/offer" + (i + 1) + ".png')")
            // img(src="img/offers/offer" + (i + 1) + ".png", alt="offer img")
