.section.section__products
  .content-wrapper
    .title.title__main
      | Drinks
      span 16 tastes
    .products-line
      .title
        | Taste of America
        span Pricing table
      .products-line_content
        each product, index in ["Coca-Cola Coffeine Free", "Dr. Pepper Cherry Vanilla", "Dr. Pepper Vanilla", "Dr. Pepper Cherry", "Fanta Pineapple"]
          .products-line_item
            .image
              img(src="img/products/taste_of_america" + (index + 1) + ".png", alt=product + " img")
            p= product
    .products-line
      .title
        | UK
        span Pricing table
      .products-line_content
        each productUk, index in ["Big Blue", "Big Red"]
          .products-line_item
            .image
              img(src="img/products/uk" + (index + 1) + ".png", alt=productUk + " img")
            p= productUk
