.section.section__progress
  .content-wrapper
    .progress-content
      .progress-info(data-progress="10")
        .progress-points
          p 36 ME = 98
            span incl. VAT
        .progress-offer
          p 4 more MEs for % off
      .progress-bar
        .progress-bar_default
          .progress-bar_offers
          .progress-bar_active(data-progress="10")
        .progress-bar_points
          each point in ["0 ME", "7 ME", "16 ME", "20 ME", "40 ME", "108 ME"]
            p=point
