.popup-overlay
  .popup
    .close.icon
    .popup-content
      .component-title
        h3 Beverages (USA)
      .pricing-info
        .pricing-info_item.pricing-info_item__top
          p Quantity
          span Price
        .pricing-info_content
          .pricing-info_item
            p 7 ME
            span 1,00 €
          .pricing-info_item
            p 16 ME
            span 0,95 €
          .pricing-info_item
            p 40 ME
            span 0,9 €
          .pricing-info_item
            p 108 ME
            span 0,85 €
      .popup-info
        p Your personal pricing policies
