doctype html
html(lang="en")
  include ../base/_head
  body
    
    .authorization-page

      .authorization-page_content
        .logo
          img(src="img/logo.svg", alt="Logo")
        form
          label(for="") Enter your e-mail address
          input(type="email" placeholder="E-mail")
          button.button Sign in
        p.email-error
          | Your e-mail address is not registered in our online ordering system, please write email to: myynti@americansoda.fi or call: +358 9 425 77 810
        button.button Go Back

      .info-line
        p
          | Made for Global Trade Partners OY with
          span
            svg(width='13px' height='12px' viewbox='0 0 13 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
              g#GTP(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                g#Desktop-login-alert(fill='#FFFFFF' fill-rule='nonzero')
                  g#tagline()
                    g(id='favorite.1')
                      path#Path(d='M6.31578947,11.5894737 L5.4,10.7557895 C2.14736842,7.80631579 0,5.86105263 0,3.47368421 C0,1.52842105 1.52842105,-4.61852778e-14 3.47368421,-4.61852778e-14 C4.57263158,-4.61852778e-14 5.62736842,0.511578947 6.31578947,1.32 C7.00421053,0.511578947 8.05894737,-4.61852778e-14 9.15789474,-4.61852778e-14 C11.1031579,-4.61852778e-14 12.6315789,1.52842105 12.6315789,3.47368421 C12.6315789,5.86105263 10.4842105,7.80631579 7.23157895,10.7621053 L6.31578947,11.5894737 Z')

          | by Evjjenui
