extends layout/_layout

block container
  include ../components/_offers
  include ../components/_progress
  include ../components/_products
  
  include ../components/_product_description

  include ../popups/_price_info
