// TASK PLANNER
.task-planner {
  padding: 20px;
  display: grid;
  width: 100%;

  &_item {
    overflow: hidden;
    padding: 0 0 10px;
    border: 1px solid hsl(187, 39%, 35%);
    height: 8em;
    max-width: 25%;
    @include border-radius(4px);
    @include box-shadow(2px 2px 6px 0 hsl(187, 39%, 35%, 0.25));

    i {
      color: #00cc99;
      font-size: 22px;
    }

    &:hover {
      .task-planner_item_top-bar button {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &_top-bar {
      padding: 0 6px;
      height: 22px;
      background-color: hsl(187, 39%, 35%);
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
      }

      button {
        opacity: 0;
        pointer-events: none;
        border: none;
        background: none;
        @include transition(opacity ease 0.25s);
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
}

.popup-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 1%, 19%, 0.75);
}

.modal {
  width: 25em;
  min-height: 13em;
  padding: 1.5em;
  border-radius: 8px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);

  p {
    margin-bottom: 1.25em;
  }

  textarea {
    width: 100%;
    display: block;
    resize: none;
    padding: 0.75em;
    min-height: 9em;
    margin-bottom: 1.25em;
    outline-offset: 2px;
    font-size: 0.7em;
    line-height: 1.25em;
    border: 2px solid hsl(187, 39%, 35%, 0.5);
    border-radius: 4px;

    &:focus {
      border-color: hsl(187, 39%, 35%);
    }
  }

  button {
    position: relative;
    z-index: 10;
    margin: 0 1.5em;
    padding: 0.75em 2em;
    background-color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 500;
    @include border-radius(5px);
    @include transition(0.25s linear all);
    cursor: pointer;

    &.button-red {
      border: 1px solid hsl(347, 93%, 38%);
      color: hsl(347, 93%, 38%);

      &:hover {
        background-color: hsl(347, 93%, 38%);
      }
    }

    &.button-green {
      border: 1px solid hsl(187, 39%, 35%);
      color: hsl(187, 39%, 35%);

      &:hover {
        background-color: hsl(187, 39%, 35%);
      }
    }

    &:hover {
      background-color: hsl(347, 93%, 38%);
      color: hsl(0, 0%, 100%);
    }
  }
}

.task {
  &-list {
    overflow: scroll;
    max-height: 85%;
  }

  &-text {
    padding: 0.4em;
    margin: 0.25em;
    font-size: 0.75em;
    border-radius: 4px;
    background-color: hsl(0, 0%, 13%);
    color: hsl(0, 0%, 95%);
    line-height: 1.5em;
    padding-right: 25px;
    position: relative;

    button {
      border: none;
      background: none;
      position: absolute;
      right: 0.4em;
      top: 0.4em;
      z-index: 2;
      cursor: pointer;
    }

    svg {
      stroke: hsl(165, 100%, 40%);
      width: 15px;
      height: 15px;
    }
  }
}
// END TASK PLANNER
